/*
* @Author: Marte
* @Date:   2017-07-16 10:23:16
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-16 17:49:42
*/
.finish{
    margin: 50px auto;
    padding: 20px 0;
    width: 1200px;
    height: 100px;
    border: 1px dashed #BFD6E8;
    text-align: center;
}