html{
    color:#424251;
    font-size:14px;
    background:#FFF;
    font-family:"微软雅黑","宋体";
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td{
    margin:0;
    padding:0;
}
table{
    border-collapse: collapse;
}
em,
strong,
b,
u,
i{
    font-style:normal;
    font-weight:normal;
}
ol,
ul{
    list-style:none;
}
h1,h2,h3{
    font-size: 100%;
    font-weight:normal;
}
input,
textarea,
select{
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    border:none;
}
img{
    width:100%;
    height: 100%;
    border: none;
}
img:hover{
    cursor:hand;
}
a{
    text-decoration: none;
    cursor: hand;
    display:inline-block;
}
